<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Formulário de contato:</h1>

  <p>
    <strong>Nome:</strong> <%= @name %>
  </p>

  <p>
    <strong>Email:</strong> <%= @email %>
  </p>

  <p>
    <strong>Telefone:</strong> <%= @phone %>
  </p>

  <p>
    <strong>Mensagem:</strong> <%= @message %>
  </p>


</body>
</html>