<div class="col-sm-12 col-md-2 ">
  <img src="https://static-878316.c.cdn77.org/img/minipage/profile-default.png" alt="#{@company.name}" class="img-thumbnail">
</div>
<div class="col-sm-12 col-md-10">
  <h1><%=@company.name.titleize%></h1>
  <address><%=address @company%></address>
</div>