<hr/>
<p class="text-center">
  <% if @openHours.empty? %>
    Nenhum horário disponível nesta data.
  <% else %>
    <%= l @openHours.first, format: :day_month_weekday %>
  <% end %>
</p>

<ul id="selectable">
    <% @openHours.each do |p| %>
        <li class="slot" data="<%= p %>"><a href="#"><%= p.strftime '%H:%M' %></a></li>
    <% end %>
</ul>

<script>
    $(document).ready(function() {
        $( "#selectable" ).selectable({
            selected: function( event, ui ) {
                var selected_date = $(ui.selected).attr('data');
                // console.log('selected item: ' +  selected_date); // open the console to see the selected items after each click
                $('#appointment_start').val(selected_date);
            }
        });

    });
</script>